* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* header {
  padding-top: 10px;
}

* header .respmenu {
  position: relative;
}

header {
  padding-top: 10px;
}

header img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 10px;
}

header .menu-container {
  position: relative;
}

.menu-container .menu-icon {
  padding-right: 10px;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
  text-align: right;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.menu-container .close-icon {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 10px;
  opacity: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.menu-container input {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 10px;
  opacity: 0;
  z-index: 10;
}

.menu-container input:checked ~ .close-icon {
  opacity: 1;
}

.menu-container input:checked ~ .menu-icon {
  opacity: 0;
}

.menu-container input:checked ~ nav {
  padding-top: 16px;
  padding-bottom: 24px;
  height: 224px;
  opacity: 1;
}

nav {
  width: 100%;
  min-width: 320px;
  height: 0px;
  padding: 0;
  margin-top: 10px;
  background-color: #0000ec;
  font-size: 1.6rem;
  line-height: 2.8rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 0;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  height: inherit;
}

nav a {
  padding-left: 16px;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

.botonMenu {
  margin: 0 auto;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 7px;
  background: #666;
  color: white;
  cursor: pointer;
  position: relative;
}

.botonMenu span {
  display: block;
  width: 36px;
  height: 4px;
  background: white;
  margin-top: 7px;
}

label {
  cursor: pointer;
}

#world {
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
}

p {
  font-size: 14px;
  text-align: center;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  -webkit-text-decoration: justify;
          text-decoration: justify;
  font-family: 'IBM Plex Mono', monospace;
}

.titulo {
  display: block;
  padding-top: 29px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  color: #060a24;
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
}

button {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 288px;
  height: 48px;
  background: #00F3BB 100%;
  padding: 0;
  min-width: 288px;
  max-width: 320px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  font-style: bold;
  outline: none;
  border: none;
}

button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  cursor: pointer;
}

.contenedorepisodio {
  position: relative;
  min-width: 320px;
  padding: 0 11px;
  padding-top: 64px;
  padding-bottom: 140px;
}

.contenedorepisodio h2 {
  margin-left: 5px;
  font-size: 36px;
  color: #ffffff;
  line-height: 42px;
  font-weight: 400;
}

.conetenedorep {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.reproductores {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 11px;
  margin-top: 21px;
}

iframe {
  margin: 0 auto;
  min-width: 298px;
  width: 100%;
  height: 225px;
  border: none;
  background-color: transparent;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.entrevistas h2 {
  margin-top: 8px;
  margin-left: 16px;
  font-size: 36px;
  line-height: 42px;
  color: #060a24;
  font-weight: 400;
}

.contenedorimg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(243px, auto);
      grid-template-rows: minmax(243px, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgrid img {
  width: 320px;
  min-width: 320px;
  min-height: 243px;
  height: 100%;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros.phone {
  position: relative;
  z-index: 10;
  top: -96px;
  min-width: 320px;
  width: 320px;
  height: 519px;
}

.dedonde h2 {
  margin-top: 14px;
  font-size: 36px;
  line-height: 42px;
  color: #060a24;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
}

.dedonde {
  position: relative;
  padding: 0 16px;
}

.iconoscontent {
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.icon h3 {
  text-align: center;
  margin-top: 13px;
  color: #060a24;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 320px;
  height: 162px;
}

.novedad {
  position: relative;
  min-width: 320px;
  width: 100%;
  text-align: center;
  padding: 64px 16px;
  overflow: hidden;
  display: inline-block;
}

.novedad h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #ffffff;
}

.novedades {
  position: absolute;
  top: 0;
  bottom: -50%;
  right: 0;
  left: 0;
  height: 341px;
  z-index: -10;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.button2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 288px;
  height: 48px;
  position: relative;
  background: #00F3BB 100%;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin-left: 16px;
  margin-right: 16px;
}

.button2:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  cursor: pointer;
}

footer {
  min-width: 320px;
  width: 100%;
  height: 2.2%;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes {
  margin-top: 62px;
  font-size: 16px;
  width: 100%;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copy {
  position: relative;
  top: 24px;
  text-align: center;
}

@media only screen and (min-device-width: 1024px) {
  body {
    width: 1440px;
  }
  header {
    padding: 22px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  label {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  header img {
    width: 36px;
    height: 36px;
    top: 22px;
    left: 100px;
    position: initial;
  }
  .menu-container input:checked ~ nav {
    padding: 0;
    margin: 0;
    height: auto;
  }
  .menu-container .menu-icon,
  .close-icon,
  input {
    display: none;
  }
  nav {
    width: auto;
    min-width: 320px;
    height: auto;
    opacity: 1;
    margin: 0;
    background-color: #ffffff;
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4px 0;
  }
  nav ul li {
    margin-left: 48px;
  }
  nav a {
    padding: 0;
    font-size: 1.4rem;
    color: #060a24;
  }
  .titulo {
    padding-top: 120px;
    padding-left: 200px;
    padding-bottom: 5px;
    padding-right: 100px;
  }
  .dot {
    color: #0000EC;
  }
  .titulo h1 {
    font-size: 64px;
    line-height: 84px;
  }
  .titulo p {
    max-width: 628px;
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }
  .titulo h1 span {
    display: inline-block;
  }
  .titulo button {
    margin-top: 56px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px;
    width: 262px;
  }
  .contenedorepisodio {
    padding-top: 184px;
    padding-left: 100px;
    padding-right: 100px;
    height: 1042px;
  }
  .contenedorepisodio h2 {
    text-align: left;
    margin-left: 100px;
    line-height: 62px;
    font-size: 48px;
  }
  .conetenedorep {
    width: 100%;
    height: 1042px;
  }
  .reproductores {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 584px 584px;
        grid-template-columns: 584px 584px;
    -ms-grid-rows: 232px 232px;
        grid-template-rows: 232px 232px;
    -webkit-column-gap: 72px;
            column-gap: 72px;
    row-gap: 72px;
  }
  .nosotros {
    margin-top: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros.phone {
    width: 457px;
    height: 660px;
    top: -168px;
  }
  .dedonde {
    margin: 0;
    padding: 0;
    padding-left: 62px;
    padding-top: 168px;
    max-width: 526px;
  }
  .dedonde h2 {
    font-size: 48px;
    line-height: 62px;
    top: 20.3px;
  }
  .dedonde p {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
  .entrevistas h2 {
    margin-left: 200px;
    font-size: 48px;
    line-height: 62px;
  }
  .contenedorimg {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 364px;
        grid-template-rows: 364px;
    height: 728px;
    width: 1440px;
  }
  .imgrid {
    width: 100%;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    height: 100%;
  }
  .contenedorimg img {
    width: 100%;
    max-width: 1440px;
    height: 100%;
  }
  .iconos h2 {
    margin-left: 200px;
    line-height: 62px;
    font-size: 48px;
  }
  .iconoscontent {
    margin-top: 69px;
    padding-right: 200px;
    padding-left: 200px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .novedad {
    padding-top: 213px;
    padding-bottom: 151px;
  }
  .novedad h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .button2 {
    top: 36px;
    margin-left: 547px;
  }
  footer {
    padding: 36px 100px 31px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */